In [59]:
import numpy as np
import pandas as pd
import nltk

In [60]:
#open pythonTextData.txt and read lines and set decoding to utf-8
with open('pythonTextData.txt', 'r', encoding='utf-8') as f:
    lines = f.readlines()

#show the first 10 lines
lines[:25]

['# write a python program to add two numbers \n',
 'num1 = 1.5\n',
 'num2 = 6.3\n',
 'sum = num1 + num2\n',
 "print(f'Sum: {sum}')\n",
 '\n',
 '\n',
 '# write a python function to add two user provided numbers and return the sum\n',
 'def add_two_numbers(num1, num2):\n',
 '    sum = num1 + num2\n',
 '    return sum\n',
 '\n',
 '\n',
 '# write a program to find and print the largest among three numbers\n',
 '\n',
 'num1 = 10\n',
 'num2 = 12\n',
 'num3 = 14\n',
 'if (num1 >= num2) and (num1 >= num3):\n',
 '   largest = num1\n',
 'elif (num2 >= num1) and (num2 >= num3):\n',
 '   largest = num2\n',
 'else:\n',
 '   largest = num3\n',
 "print(f'largest:{largest}')\n"]

In [61]:
test_lines = lines[:100]

In [62]:
list = []
i = 0
df = pd.DataFrame(columns=['src', 'tgt'])
for line in lines:
    if line.startswith('#'):
        src = line
        #append src to df at index i
        df.loc[i, 'src'] = src
        i += 1
    else:
        #append line to df at index i without deleting the previous line
        df.loc[i-1, 'tgt'] = str(df.loc[i-1, 'tgt']) + ", " + str(line)

In [63]:
print(len(df))
df.head()

4958

,src,tgt
0,# write a python program to add two numbers \n,"nan, num1 = 1.5\n, num2 = 6.3\n, sum = num1 + ..."
1,# write a python function to add two user prov...,"nan, def add_two_numbers(num1, num2):\n, s..."
2,# write a program to find and print the larges...,"nan, \n, num1 = 10\n, num2 = 12\n, num3 = 14\n..."
3,# write a program to find and print the smalle...,"nan, num1 = 10\n, num2 = 12\n, num3 = 14\n, if..."
4,# Write a python function to merge two given l...,"nan, def merge_lists(l1, l2):\n, return l1..."

In [64]:
#make each row of tgt a list with a single string
df['tgt'] = df['tgt'].apply(lambda x: [str(x)])
df['tgt'] = df['tgt'].apply(lambda x: x[0].split(','))
df.head()

,src,tgt
0,# write a python program to add two numbers \n,"[nan, num1 = 1.5\n, num2 = 6.3\n, sum = num..."
1,# write a python function to add two user prov...,"[nan, def add_two_numbers(num1, num2):\n, ..."
2,# write a program to find and print the larges...,"[nan, \n, num1 = 10\n, num2 = 12\n, num3 =..."
3,# write a program to find and print the smalle...,"[nan, num1 = 10\n, num2 = 12\n, num3 = 14\n..."
4,# Write a python function to merge two given l...,"[nan, def merge_lists(l1, l2):\n, retur..."

In [65]:
#remove \n from each row of src
df['src'] = df['src'].apply(lambda x: x.replace('\n', ''))
df.head()

,src,tgt
0,# write a python program to add two numbers,"[nan, num1 = 1.5\n, num2 = 6.3\n, sum = num..."
1,# write a python function to add two user prov...,"[nan, def add_two_numbers(num1, num2):\n, ..."
2,# write a program to find and print the larges...,"[nan, \n, num1 = 10\n, num2 = 12\n, num3 =..."
3,# write a program to find and print the smalle...,"[nan, num1 = 10\n, num2 = 12\n, num3 = 14\n..."
4,# Write a python function to merge two given l...,"[nan, def merge_lists(l1, l2):\n, retur..."

In [66]:
#for each row of df remove the first element of tgt if its nan
df['tgt'] = df['tgt'].apply(lambda x: x[1:] if x[0] == 'nan' else x)
df.head()

,src,tgt
0,# write a python program to add two numbers,"[ num1 = 1.5\n, num2 = 6.3\n, sum = num1 + n..."
1,# write a python function to add two user prov...,"[ def add_two_numbers(num1, num2):\n, su..."
2,# write a program to find and print the larges...,"[ \n, num1 = 10\n, num2 = 12\n, num3 = 14\n..."
3,# write a program to find and print the smalle...,"[ num1 = 10\n, num2 = 12\n, num3 = 14\n, if..."
4,# Write a python function to merge two given l...,"[ def merge_lists(l1, l2):\n, return l1 ..."

In [67]:
print(df['src'][0])
print(df['tgt'][0])

# write a python program to add two numbers
[' num1 = 1.5\n', ' num2 = 6.3\n', ' sum = num1 + num2\n', " print(f'Sum: {sum}')\n", ' \n', ' \n']

In [68]:

df.head()

,src,tgt
0,# write a python program to add two numbers,"[ num1 = 1.5\n, num2 = 6.3\n, sum = num1 + n..."
1,# write a python function to add two user prov...,"[ def add_two_numbers(num1, num2):\n, su..."
2,# write a program to find and print the larges...,"[ \n, num1 = 10\n, num2 = 12\n, num3 = 14\n..."
3,# write a program to find and print the smalle...,"[ num1 = 10\n, num2 = 12\n, num3 = 14\n, if..."
4,# Write a python function to merge two given l...,"[ def merge_lists(l1, l2):\n, return l1 ..."

In [69]:
#remove \n from each row of tgt
df['tgt'] = df['tgt'].apply(lambda x: [i.replace('\n', '') for i in x])
df.head()

,src,tgt
0,# write a python program to add two numbers,"[ num1 = 1.5, num2 = 6.3, sum = num1 + num2,..."
1,# write a python function to add two user prov...,"[ def add_two_numbers(num1, num2):, sum ..."
2,# write a program to find and print the larges...,"[ , num1 = 10, num2 = 12, num3 = 14, if (n..."
3,# write a program to find and print the smalle...,"[ num1 = 10, num2 = 12, num3 = 14, if (num1..."
4,# Write a python function to merge two given l...,"[ def merge_lists(l1, l2):, return l1 + ..."

In [70]:
print(df['src'][0])
print(df['tgt'][0])

# write a python program to add two numbers
[' num1 = 1.5', ' num2 = 6.3', ' sum = num1 + num2', " print(f'Sum: {sum}')", ' ', ' ']